body {
    margin: 0;
    padding: 0;
    background-color: blue;
    color: white;
}

.box-1 {
    display: flex;
    width: 120px;
    height: 64px;
    background-color:black;
    color:green;
    justify-content: left;
    align-items: flex-start;
    border : 1px solid white
}

.box-2 {
    display: flex;
    width: 120px;
    height: 64px;
    background-color:black;
    color:green;
    align-items: center;
    border : 1px solid white
}

.box-3 {
    display: flex;
    width: 120px;
    height: 64px;
    background-color:black;
    color:green;
    align-items: flex-end;
    border : 1px solid white
}

.base {
    display: flex;
    }