body {
    display: flex;
    background-color: rgb(19, 19, 126);
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'NeoDonggeunmo';    
    flex-direction: column;
    height: 100vh;

}

@font-face {
    font-family: 'NeoDonggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

header {
    display: flex;
    padding: 16px;
    justify-content: flex-end;
}

footer {
    display: flex;
    padding: 16px;
}

main {
    display: flex;
    flex : 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 64px;
}

.menu-item {
    font-size: 32px;
}

.select {
    background-color: black;
    color: white;
}

.hide {
    display: none;
}

.option-title {
    font-size: 32px;
}

.back-button2 {
    font-size: 28px;
}