body {
    display: flex;
    background-color: rgb(19, 19, 126);
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'DosStory';
    flex-direction: column;
    height: 100vh;
}


@font-face {
    font-family: 'DosStory';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.title {
    font-size: 50px;
}

.menu-item {
    font-size: 25px;
}

header {
    display: flex;
    padding : 16px;
    justify-content: flex-end;
}

footer {
    display: flex;
    padding: 16px;
    justify-content: flex-start;
}

main {
    display: flex;
    flex : 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select {
    background-color: Black;
    color: white;
}

.hide{
    display: none;
}